.origin-games {
    float: right;
    width: 60%;
}

.game-body {
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    object-fit: cover;
    width: 1000px;
    height: 650px;
}

.game-title {
    text-align: center;
}


.game-cover {
    display: block;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 800px;
    height: 500px;
}
